body{
    background-size: cover;
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 30px;
}

#start{
    border-radius: 0px;
    width: 100px;
    font-size: 18px;
}

#status,#no{
    font-size: 18px;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 30;
    box-shadow: 5px 5px 5px black;
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}

canvas{
    border: 4px dashed black;
    border-radius: 0px;
    box-shadow: 5px 5px 5px white;
    margin-top: 100px;
}

#input{
    height: 30px;
    width: 30%;
}